<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/burger_style.css"> 
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="text-center">
        <img src="../public/assets/img/Hamburger.gif" class="img-fluid" alt="burger">
        <h1 class="headBurger">Eat da Burger</h1>
        </div>
        </div>
        <br>
        {{{ body }}}

       <br><br>
       <form action="api/burger/create" method="POST"> 
        <div class="row">
          <div class="col-md-3"></div> 
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="red_font">Request a new burger and place your order!</label></center>
            <textarea class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></textarea>
          </div>
          <div class="col-md-3"></div> 
        </div>
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button>
        </center>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>